html {
	margin: 0;
	padding: 0;
	}
body { 
	color: white;
	background-color: #333; 
	margin: 0; 
	padding: 0;
	/*padding-top: 20px;
  	padding-bottom: 20px;*/
}

#encabezado-nav {
	margin-bottom: 20px;
}

#yaku-logo {
	background: url('https://ginodg.github.io/WEB_YAKUART/imagenes/yaku_logo.png') no-repeat;
	width: 200px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
	/*margin: 1px 15px 10px 0;*/

}

.navbar-brand h1 { /* Mensaje del Servicio */
	font-size: 0.9em;
	margin-top: 0;
	text-shadow: 1px 1px 1px #888;
	margin-left: 20px;
}

#lista-menu {
	margin-right: 15px;
	margin-top: 20px;
}

.navbar-header button.navbar-toggle {
	clear: both;
}
/********************* PAG. INDEX   ************************/

#bloq_imag hr {
	border-color: #888;
}

/****----------------   CAROUSEL ----------------------****/
.carousel-indicators .active {
	background-color: #27FF55;
}
.carousel {
	margin-bottom: 50px;
}
/********************************************************/



/************************    FOOTER   *******************/
.panel-footer {
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #444;
	border-top: 0;
}

#servicios p {
	font-style: italic;
}

#servicios > strong,
#contacto > address > strong {
	font-size: 1.3em;
}

#servicios > p {
	line-height: 10px;
}

#servicios > p:nth-child(2) {
	margin-top: 15px;
}

#contacto > address > p {
	margin-top: 15px;
}
.panel-footer span {
	color: #777;
	margin-left: 40px;
}

/*
#navbarMenu > ul > li > a:hover.
#navbarMenu > ul > li > a:focus {
	color: #18BC9C;
}*/

/**********************************************************/

/*********    PAGINA SERVICIOS   ************/

#tit-serv {
	margin: 80px;
}

#interiores  {
	background-color: #555;
	padding-top: 30px;
	padding-bottom: 50px;
}

#muebles {
	padding-top: 50px;
	padding-bottom: 50px;
}

#mantenimiento {
	background-color: #555;
	padding-top: 50px;
	padding-bottom: 50px;
}

#producto {
	padding-top: 50px;
	padding-bottom: 50px;
}

#interiores > div > h2,
#interiores > div > p,
#muebles > div > h2,
#muebles > div > p,
#mantenimiento > div > h2,
#mantenimiento > div p,
#producto > div > h2,
#producto > div p {
	margin-right: 50px;
	margin-left: 30px;
}

#interiores > div > p, /*  Es igual que poner: #interiores div p, */
#muebles > div > p,
#mantenimiento > div > p,
#producto > div > p {
	font-size: 20px;
}

#interiores > div > h2 > span, /* Cambiando el color del texto span en los parrafos seleccionados */
#mantenimiento > div > h2 > span {
	color: #222
}

/***********************************************************/

/***********     PAGINA PROYECTOS         *******************/

#main-content > h1 {
	margin-bottom: 50px;
}

.thumbnail {
	position: relative;
	border: 1px solid #000;
	overflow: hidden;
	margin: 0 auto 15px;
	width: 100%;
}

.thumbnail span { /* Para el texto con sombra de las pre-imagenes */
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	background-color: #222;
	color: #FFF;
	opacity: 0.7;
}

.row div div{
	cursor: pointer;
	background-color: #000;
}
/* ayuda al efecto de agrandar lineas abajo para que se vea lento y no de golpe */
.row div div img{
	-webkit-transition: all 0.5s ease;
}
/*  Efecto de ZOOM de las mini imagenes */
.row div div img:hover{
	transform: scale(1.3);
}
/*********** Efectos del MODAL **********/
.modal {
	position: fixed; /* Stay in place */
	padding-top: 12vw; /* Location of the box */

}

#img-proyectos {
	margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}
/****************************************/

/********************    PAGINA ACERCA DE    *********************/

#img_acercade div img{
	height: 300px;
	width: 300px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 2vw;
}

#img_acercade {
	margin-top: 3vw;
}

#tit_acercade {
	margin-bottom: 40px;
}

#img_acercade > div > div > h2{
	color: #888;
	margin-bottom: 20px;
}

#img_acercade > div > div > p{
	font-size: 18px;
}

#img_acercade > hr {
	border-color: #888;
}


/********************       PAG CONTACTO     *********************/

#cont-img { 
	background-image: url("https://ginodg.github.io/WEB_YAKUART/imagenes/acuario3.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
  	min-height: 600px;
}

#cont-img div div h1 {
	margin-left: 50px;
	margin-top: 30px;
}

#cont-img div div iframe {
	margin: 50px;
	width: 60vw;
}

#cont-img div div form {
	margin: 50px;
	margin-right: 8vw;
}

#cont-img div div form button {
	margin-top: 20px;
	background-color: #CCC;
}



/*****************************************************************/



/*********  MEDIA QUERYS *******************/

/*********** Large devices only *****************/
@media (min-width: 1200px) {
	/***********************  Subtitulos junto a Graficos en InDEX y SERVICIOS   *******************/
	.featurette-heading {
		margin-top: 70px;
	}
	/**************     INDEX    ***************/
	#bloq_imag div div p { /*  modificando tamaño texto de parrafos junto a imagenes en INDEX */
		font-size: 20px;
	}
	/**************   SERVICIOS   ****************/
	#tit-serv {
		font-size: 45px;
	}
	#tit-serv {
		margin: 60px;
	}
	#interiores > div > p, /*  Es igual que poner: #interiores div p, */
	#muebles > div > p,
	#mantenimiento > div > p,
	#producto > div > p {
		font-size: 1.6vw;
	}
	#interiores > div > img, /*  Es igual que poner: #interiores div p, */
	#muebles > div > img,
	#mantenimiento > div > img,
	#producto > div > img {
		margin-top: 75px;
	}
}
/*********** Medium devices only *****************/
@media (min-width: 992px) and (max-width: 1199px){
	
	/*************************  INDEX Y SERVICIOS  ******************/
	#tit-serv {
		margin: 50px;
	}
	.featurette-heading { /*****   modificando el espacio superiore de los textos junto a las imagenes en INDEX y SERVICIOS ala ez  */
		margin-top: 30px;
	}
	#bloq_imag div div p { /*  modificando tamaño texto de parrafos junto a imagenes en INDEX */
		font-size: 19px;
	}
	#interiores > div > p, /*  Es igual que poner: #interiores div p, */
	#muebles > div > p,
	#mantenimiento > div > p,
	#producto > div > p {
		font-size: 1.7vw;
	}
	#interiores > div > img, /*  Es igual que poner: #interiores div p, */
	#muebles > div > img,
	#mantenimiento > div > img,
	#producto > div > img {
		margin-top: 35px;
	}
	#interiores > div > h2, /*  Es igual que poner: #interiores div p, */
	#muebles > div > h2,
	#mantenimiento > div > h2,
	#producto > div > h2 {
		font-size: 25px;
	}
			
}

/*********** Small devices only *****************/
@media (min-width: 768px) and (max-width: 991px){

	/*************************  CONTENIDO MARKETING   ******************/
	
	#bloq_imag div div p { /*  modificando tamaño texto de parrafos junto a imagenes en INDEX */
		font-size: 18px;
	}

	/*****************        SERVICIOS         ******************/
	#tit-serv {
		margin: 50px;
	}
	#interiores > div > p, /*  Es igual que poner: #interiores div p, */
	#muebles > div > p,
	#mantenimiento > div > p,
	#producto > div > p {
		font-size: 18px;
	}

	#interiores > div > h2, /*  Es igual que poner: #interiores div p, */
	#muebles > div > h2,
	#mantenimiento > div > h2,
	#producto > div > h2 {
		font-size: 25px;
	}
	/********************************************************************/

	/*****************************  HEADER    ***************************/
	#yaku-logo {
		background: url('https://ginodg.github.io/WEB_YAKUART/imagenes/yaku_logo_medium.png') no-repeat;
		width: 180px;
		height: 40px;
		margin-left: 2px;
		margin-top: 5px;
		
	}
	.navbar-brand h1 { /* Mensaje del Servicio */
		font-size: 0.65em;
		margin-top: 0;
		text-shadow: 1px 1px 1px #888;
		margin-left: 2px;
	}
	#lista-menu {
		margin-right: 1px;
		margin-top: 2px;
		display: inline-block;
		font-size: 0.85em;
	}
	.navbar-header {
		display: inline-block;
	}

	/****************   CAROUSEL   ****************************/
	.carousel-caption > h1 {
		font-size: 3vw;
		margin-bottom: 1px;
	}
	.carousel-caption > p {
		font-size: 1.5vw;
		margin-top: 5px;
	}
	.carousel-indicators .active {
		width: 1.5vw;
		height: 1.5vw;
	}
	.carousel-indicators li {
		width: 1.5vw;
		height: 1.5vw;
	}
	/*    PAG CONTACTO    */
	#cont-img div div form {
		margin-right: 50vw;
	}
	#cont-img div div iframe {
		width: 80vw;
		height: 35vw;
		margin-bottom: 10px;
	}
	/************************/
}

/*********** Extra Small devices only *****************/
@media (max-width: 767px){

	/*****************        SERVICIOS         ******************/

	#interiores > div > p, /*  Es igual que poner: #interiores div p, */
	#muebles > div > p,
	#mantenimiento > div > p,
	#producto > div > p {
		font-size: 16px;
	}

	#interiores > div > h2, /*  Es igual que poner: #interiores div p, */
	#muebles > div > h2,
	#mantenimiento > div > h2,
	#producto > div > h2 {
		font-size: 25px;
	}

	/**************************     HEADER    *************************/
	
	.navbar-brand h1 { /* Mensaje del Servicio */
		font-size: 4vw;
		margin-top: 0;
		text-shadow: 1px 1px 1px #888;
		margin-left: 5px;
	}
	.navbar-header { /* Permite que el boton de menu no se vaya hacia abajo */
		display: inline-block;
	}
	/*************************  CONTENIDO MARKETING   ******************/
	
	#bloq_imag div div p { /*  modificando tamaño texto de parrafos junto a imagenes en INDEX */
		font-size: 17px;
	}
	/****** PAG. SERVICIOS   **************/

	#tit-serv {
		margin: 30px;
	}

	/****************************   CAROUSEL    **************************/
	.carousel-caption > h1 {
		font-size: 3vw;
		margin-bottom: 1px;
	}
	.carousel-caption > p {
		font-size: 2vw;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.carousel-indicators .active {
		margin-top: 1px;
		width: 1.5vw;
		height: 1.5vw;
	}
	.carousel-indicators li {
		margin-top: 1px;
		width: 1.5vw;
		height: 1.5vw;
	}
	.carousel-indicators {
		margin-bottom: 1px;
	}
	/*  PAGINA ACERCA DE */
	#img_acercade div img {
		margin: auto; /*  Permite centrar las imagenes en tamaño de visualizacion small */
	}
	/* PAGINA CONTACTO */
	#cont-img div div form {
		margin: 30px;
		margin-right: 40vw;
	}
	#cont-img div div iframe {
		width: 80vw;
		height: 40vw;
		margin: 30px;
		margin-bottom: 10px;
	}
	/************************/

}

/*********** Super Extra Small devices only *****************/
@media (max-width: 479px){
	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
	/****    PAG CONTACTO    ***/
	#cont-img div div form {
		margin: 30px;
		margin-right: 30vw;
	}
	#cont-img div div iframe {
		margin-bottom: 2px;
	}
	/***************************/
}
